# King County Housing Linear Regression Project


* Student name: Seyma Tas
* Student pace:  Full time
* Scheduled project review date/time: 05-04-2020
* Instructor name: Amber Yandow
* Blog post URL:

## OSEMN Approach
1 - Obtaining the data 2 - Scrubbing the data 3 - Exploring the data 4 - Modeling the data 5 - iNterpreting the results


![title](picture2.png)

## Questions:

1) What are the main factors to predict the price of a house?

2) How much does a middle income family should invest to buy a standard house?
   
   or What are the properties of a house you can buy in King County if your budget is $400,000???
    
3) How can a middle income family increase the price of their house by %20 by spending %5 of the house cost???

4) Basement

In [98]:
%autosave 10

Autosaving every 10 seconds

The following cell is to print all the interactive output without resorting to print.

In [99]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import the necessary packages

First, we’ll import all of our necessary packages.

In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib
import seaborn as sns

from scipy import stats
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

sns.set(style='darkgrid')

Using matplotlib backend: MacOSX

Pandas has an options system that lets you customize some aspects of its behaviour, display-related options being those the user is most likely to adjust. In the following cell we are setting options to display more raws and columns.

In [101]:
# ## Display more information 

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', -1)

The following code is to hide the warning boxes.

In [102]:
import warnings
warnings.filterwarnings('ignore')

## Import the data set

Next, we’ll import our data and see what we’re working with.

In [103]:
df=pd.read_csv('kc_house_data.csv')

Lets see what the data looks like by functions head(), tail(), shape(), info() and describe().

In [104]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

## Information about the data

### Column names and descriptions

* **id** - unique identified for a house
* **date** - Date house was sold
* **price** - Price is prediction target
* **bedrooms** - Number of Bedrooms/House
* **bathrooms** - Number of bathrooms/bedrooms
* **sqft_living** - Square footage of the home
* **sqft_lot** - Square footage of the lot
* **floors** - Total floors (levels) in house
* **waterfront** - House which has a view to a waterfront
* **view** - If the house has a view or not
* **condition** - How good the condition is ( Overall )
* **grade** - overall grade given to the housing unit, based on King County grading system
* **sqft_above** - square footage of house apart from basement
* **sqft_basement** - square footage of the basement
* **yr_built** - Built Year
* **yr_renovated** - Year when house was renovated
* **zipcode** - zipcode of the house
* **lat** - Latitude coordinate
* **long** - Longitude coordinate
* **sqft_living15** - The square footage of interior housing living space for the nearest 15 neighbors
* **sqft_lot15** - The square footage of the land lots of the nearest 15 neighbors

### Condition

More detailed information about condition from the [King County's website](https://blue.kingcounty.com/Assessor/eRealProperty/ResidentialGlossary.aspx?idx=viewall&Parcel=7960900070&AreaReport=http://www.KingCounty.gov/depts/Assessor/Reports/area-reports/2019/residential-northeast/033.aspx#BuildingGrade).

(Relative to age and grade. Coded 1-5.)

1 = Poor- Worn out. Repair and overhaul needed on painted surfaces, roofing, plumbing, heating and numerous functional inadequacies. Excessive deferred maintenance and abuse, limited value-in-use, approaching abandonment or major reconstruction; reuse or change in occupancy is imminent. Effective age is near the end of the scale regardless of the actual chronological age.

2 = Fair- Badly worn. Much repair needed. Many items need refinishing or overhauling, deferred maintenance obvious, inadequate building utility and systems all shortening the life expectancy and increasing the effective age.

3 = Average- Some evidence of deferred maintenance and normal obsolescence with age in that a few minor repairs are needed, along with some refinishing. All major components still functional and contributing toward an extended life expectancy. Effective age and utility is standard for like properties of its class and usage.

4 = Good- No obvious maintenance required but neither is everything new. Appearance and utility are above the standard and the overall effective age will be lower than the typical property.

5= Very Good- All items well maintained, many having been overhauled and repaired as they have shown signs of wear, increasing the life expectancy and lowering the effective age with little deterioration or obsolescence evident with a high degree of utility.

### Building Grade

More detailed information about grade from the [King County's website](https://blue.kingcounty.com/Assessor/eRealProperty/ResidentialGlossary.aspx?idx=viewall&Parcel=7960900070&AreaReport=http://www.KingCounty.gov/depts/Assessor/Reports/area-reports/2019/residential-northeast/033.aspx#BuildingGrade).

Represents the construction quality of improvements. Grades run from grade 1 to 13. Generally defined as:

1-3	= Falls short of minimum building standards. Normally cabin or inferior structure

4	= Generally older, low quality construction. Does not meet code.

5	= Low construction costs and workmanship. Small, simple design.

6	= Lowest grade currently meeting building code. Low quality materials and simple designs.

7	= Average grade of construction and design. Commonly seen in plats and older sub-divisions.

8	= Just above average in construction and design. Usually better materials in both the exterior and interior finish work.

9	= Better architectural design with extra interior and exterior design and quality.

10	= Homes of this quality generally have high quality features. Finish work is better and more design quality is seen in the floor plans. Generally have a larger square footage.

11	= Custom design and higher quality finish work with added amenities of solid woods, bathroom fixtures and more luxurious options.

12	= Custom design and excellent builders. All materials are of the highest quality and all conveniences are present.

13	= Generally custom designed and built. Mansion level. Large amount of highest quality cabinet work, wood trim, marble, entry ways etc.

### Drop unnecessary columns

Id column doesn't tell us anything so we drop this column. 
Date column tells us the date the house was sold. All the dates are between 2014-05-02 and 2015-05-27. So we don't need to calculate inflation. But the sale month tells us information about sale price. May must be the month many houses are sold and the prices must be higher in May. Lets take the month and drop the date.

In [105]:
df['date'] = pd.to_datetime(df['date'])

In [106]:
df['date'].min()

Timestamp('2014-05-02 00:00:00')

In [107]:
df['date'].max()

Timestamp('2015-05-27 00:00:00')

In [108]:
df['sale_month'] = df['date'].map(lambda x: x.month)

In [109]:
df=df.drop(['id','date'],axis=1)

# Scraping and cleaning data

In [110]:
df.shape

(21597, 20)

We have 20 columns and 21597 rows,our sample size is enough to predict the price. There won't be problems in test and train splits.

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 20 columns):
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
sale_month       21597 non-null int64
dtypes: float64(8), int64(11), object(1)
memory usage: 3.3+ MB

According to the information of data; we have some missing values in waterfront, view and year_renovated columns. We need to deal with missing data. Data is clean. It is necessary to inspect sqft_basement column. It should be an integer not a string.

### Numerical Data Stored as Strings

In [112]:
df.sqft_basement.value_counts()

0.0       12826
?           454
600.0       217
500.0       209
700.0       208
          ...
20.0          1
1852.0        1
2250.0        1
3260.0        1
2310.0        1
Name: sqft_basement, Length: 304, dtype: int64

sqft_basement column is string because of 454 '?'. First we replace '?' with '0'. Then we change the data type to float and we find the 'sqft_basement' column from 'sqft_living' and 'sqft_above' columns.

In [113]:
# Replace '?' with '0'.
df['sqft_basement']=df['sqft_basement'].map(lambda x:float(x.replace('?', '0')))

In [114]:
#Replace 0 with difference between sqft_above and sqft_living
df['sqft_basement'].replace(to_replace='0', value = abs(df['sqft_living']-df['sqft_above']), inplace=True)

There is a house with 33 bedrooms. But its price is $640,000. Number of bathrooms is 1.75. It is a 3 bedroom house.

In [115]:
df[df.bedrooms==33]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sale_month
15856,640000.0,33,1.75,1620,6000,1.0,0.0,0.0,5,7,1040,580.0,1947,0.0,98103,47.6878,-122.331,1330,4700,6

In [116]:
# Change 33 bedrooms to 3 bedrooms.
df['bedrooms'].replace(to_replace=33, value =3, inplace=True)

In [117]:
df.describe().round(1)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sale_month
count,21597.0,21597.0,21597.0,21597.0,21597.0,21597.0,19221.0,21534.0,21597.0,21597.0,21597.0,21597.0,21597.0,17755.0,21597.0,21597.0,21597.0,21597.0,21597.0,21597.0
mean,540296.6,3.4,2.1,2080.3,15099.4,1.5,0.0,0.2,3.4,7.7,1788.6,285.7,1971.0,83.6,98078.0,47.6,-122.2,1986.6,12758.3,6.6
std,367368.1,0.9,0.8,918.1,41412.6,0.5,0.1,0.8,0.7,1.2,827.8,439.8,29.4,399.9,53.5,0.1,0.1,685.2,27274.4,3.1
min,78000.0,1.0,0.5,370.0,520.0,1.0,0.0,0.0,1.0,3.0,370.0,0.0,1900.0,0.0,98001.0,47.2,-122.5,399.0,651.0,1.0
25%,322000.0,3.0,1.8,1430.0,5040.0,1.0,0.0,0.0,3.0,7.0,1190.0,0.0,1951.0,0.0,98033.0,47.5,-122.3,1490.0,5100.0,4.0
50%,450000.0,3.0,2.2,1910.0,7618.0,1.5,0.0,0.0,3.0,7.0,1560.0,0.0,1975.0,0.0,98065.0,47.6,-122.2,1840.0,7620.0,6.0
75%,645000.0,4.0,2.5,2550.0,10685.0,2.0,0.0,0.0,4.0,8.0,2210.0,550.0,1997.0,0.0,98118.0,47.7,-122.1,2360.0,10083.0,9.0
max,7700000.0,11.0,8.0,13540.0,1651359.0,3.5,1.0,4.0,5.0,13.0,9410.0,4820.0,2015.0,2015.0,98199.0,47.8,-121.3,6210.0,871200.0,12.0

Most houses were build around 1975; sold for $450K; had square footage of living spaces around 1910. You can also note, that distributions of price and variables such as sqft_lot are skewed to the upper tail.

## Detecting and Dealing With Null Values

In [118]:
print(df.isna().sum())

price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
sale_month          0
dtype: int64

We need to deal with missing values in waterfront, view and year_renovated columns.

#### Waterfront and view columns

In [119]:
df['view'].value_counts()

0.0    19422
2.0      957
3.0      508
1.0      330
4.0      317
Name: view, dtype: int64

Most of the houses don't have view. Houses in Seattle might have both ocean, lake and mountain views.

In [120]:
len(df[(df.view==4)&(df.waterfront>0)])

123

Almost %38 of the houses with good views are waterfront homes. The others must have Mount Rainier view or downtown view.

We are trying to decide what to do with missing values in waterfront column.

In [121]:
df['view'].isna().sum()

63

In [122]:
feats = ['view', 'waterfront']
df[feats].corr()

                view  waterfront
view        1.000000    0.406654
waterfront  0.406654    1.000000

In [123]:
print('Number missing both:',
      len(df[(df.view.isnull())
      & (df.waterfront.isnull())]))

Number missing both: 6

In [124]:
len(df[(df.view==0)&(df.waterfront>0)])

0

In [125]:
len(df[(df.view==2)&(df.waterfront.isna())])

121

In [126]:
len(df[(df.view==3)&(df.waterfront>0)])

14

Waterfront and view columns are corrolated. If there was a view or waterfront is would going to be written. We can say missinf values in waterfront column can be filled with '0'.

In [127]:
df['view'].fillna(0,inplace=True)

In [128]:
df['waterfront'].value_counts()

0.0    19075
1.0      146
Name: waterfront, dtype: int64

In [129]:
df['waterfront'].nunique()

2

In [130]:
df['waterfront'].isna().sum()

2376

In [131]:
df['waterfront'].fillna(0,inplace=True)

In [132]:
feats = ['view', 'waterfront']
df[feats].corr()

                view  waterfront
view        1.000000    0.380543
waterfront  0.380543    1.000000

#### Year_renovated column

In [133]:
df.yr_renovated.fillna(0, inplace=True)

## Check the distributions

 Let's check if the distributions of continous variables are normal. We can check if there is a high skewness or/and kurtosis.

In [134]:
df.hist(figsize=(20,15));

## Outliers

We have to be very careful about outliers. Waterfront houses are very expensive and they are detected as outliers. The real outlier in this data was 33 bedroom house. We have changed it to a 3 bedroom house. The others are real houses but some of them are very expensive because of some properties we don't have information. These expensive houses can have a pool or a special garden.They can be at walking distance to Grade A schools or a walking trail or playground. So we will get rid of %0.1 both from the bottom and from the top.

In [135]:
Q1 = df.quantile(0.001)
Q3 = df.quantile(0.999)
IQR = Q3 - Q1

df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]

## Log transformation of data

Log transformation is needed to make the distributions much normal. Let's transform the continous variables by using logarithym of 'e'.

In [136]:
non_normal = ['price','sqft_living', 'sqft_lot','sqft_above','sqft_basement',
              'yr_built', 'yr_renovated','sqft_living15', 'sqft_lot15']
for feat in non_normal:
    df[feat] = df[feat].map(lambda x: np.log1p(x))

## Normalizing the data

In [137]:
def norm_feat(series):
    return (series - series.mean())/series.std()
for feat in ['bathrooms', 'sqft_living', 'sqft_lot','sqft_above', 'sqft_basement', 'yr_built','yr_renovated','sqft_living15', 'sqft_lot15']:
    df[feat] = norm_feat(df[feat])

In [138]:
df.describe().round(2)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sale_month
count,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00,21594.00
mean,13.05,3.37,-0.00,0.00,-0.00,1.49,0.01,0.23,3.41,7.66,0.00,-0.00,0.00,0.00,98077.96,47.56,-122.21,0.00,-0.00,6.57
std,0.53,0.90,1.00,1.00,1.00,0.54,0.08,0.76,0.65,1.17,1.00,1.00,1.00,1.00,53.51,0.14,0.14,1.00,1.00,3.11
min,11.26,1.00,-2.10,-3.86,-3.04,1.00,0.00,0.00,1.00,3.00,-3.47,-0.79,-2.45,-0.19,98001.00,47.16,-122.52,-4.73,-3.06,1.00
25%,12.68,3.00,-0.48,-0.67,-0.52,1.00,0.00,0.00,3.00,7.00,-0.73,-0.79,-0.67,-0.19,98033.00,47.47,-122.33,-0.71,-0.52,4.00
50%,13.02,3.00,0.17,0.01,-0.06,1.50,0.00,0.00,3.00,7.00,-0.10,-0.79,0.14,-0.19,98065.00,47.57,-122.23,-0.07,-0.03,6.00
75%,13.38,4.00,0.50,0.69,0.32,2.00,0.00,0.00,4.00,8.00,0.72,1.21,0.88,-0.19,98118.00,47.68,-122.12,0.69,0.32,9.00
max,15.86,11.00,7.66,4.63,5.53,3.50,1.00,4.00,5.00,13.00,4.11,1.90,1.48,5.30,98199.00,47.78,-121.32,3.65,5.27,12.00

In [139]:
df.to_csv("king_county_dataset_cleaned.csv", index=False)

## Check the distributions again!

In [140]:
df.hist(figsize=(20,15));

We optained normal distributions in 'price', 'sqft_living','sqft_above', 'sqft_lot', 'yr_built', 'yr_renovated', 'sqft_living15' columns which is very good to apply linear regression.

## One-Hot Encoding Categorical Columns


#### Identifying Categorical Variables

These columns can be thought as categorical values. Bedrooms, floors, waterfront, wiev, grade and zipcode. We change their type to 'category' and make new columns by using pandas get_dummies() function.

In [141]:
df['bedrooms'] = df['bedrooms'].astype('category')
df['floors'] = df['floors'].astype('category')
df['waterfront'] = df['waterfront'].astype('category')
df['view'] = df['view'].astype('category')
df['condition'] = df['condition'].astype('category')
df['grade'] = df['grade'].astype('category')
df['zipcode'] = df['zipcode'].astype('category')

In [142]:
feats = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'sqft_living15', 'sqft_lot15']
df_feats = df[feats]
df_feats_zipcode=df_feats.copy()
df_feats = pd.get_dummies(df_feats, drop_first=True)

# Exploring the data

In [143]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sale_month
0,12.309987,3,-1.451612,-1.125683,-0.388509,1.0,0.0,0.0,3,7,-0.753610,-0.785202,-0.537420,-0.188896,98178,47.5112,-122.257,-1.035409,-0.395548,10
1,13.195616,3,0.174831,0.709834,-0.112772,2.0,0.0,0.0,3,7,0.673014,1.112346,-0.674345,5.291902,98125,47.7210,-122.319,-0.326807,-0.023625,12
2,12.100718,2,-1.451612,-2.131831,0.245671,1.0,0.0,0.0,3,6,-1.752832,-0.785202,-1.294001,-0.188896,98028,47.7379,-122.233,1.126666,0.042836,2
3,13.311331,4,1.150697,0.070792,-0.524259,1.0,0.0,0.0,5,7,-1.026876,1.372122,-0.196328,-0.188896,98136,47.5208,-122.393,-0.990173,-0.546252,12
4,13.142168,3,-0.150458,-0.292723,0.008853,1.0,0.0,0.0,3,8,0.073617,-0.785202,0.548008,-0.188896,98074,47.6168,-122.045,-0.134239,-0.045777,2

In [144]:
df_feats.head()

,price,bathrooms,sqft_living,sqft_lot,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,...,zipcode_98146,zipcode_98148,zipcode_98155,zipcode_98166,zipcode_98168,zipcode_98177,zipcode_98178,zipcode_98188,zipcode_98198,zipcode_98199
0,12.309987,-1.451612,-1.125683,-0.388509,-0.753610,-0.785202,-0.537420,-0.188896,-1.035409,-0.395548,...,0,0,0,0,0,0,1,0,0,0
1,13.195616,0.174831,0.709834,-0.112772,0.673014,1.112346,-0.674345,5.291902,-0.326807,-0.023625,...,0,0,0,0,0,0,0,0,0,0
2,12.100718,-1.451612,-2.131831,0.245671,-1.752832,-0.785202,-1.294001,-0.188896,1.126666,0.042836,...,0,0,0,0,0,0,0,0,0,0
3,13.311331,1.150697,0.070792,-0.524259,-1.026876,1.372122,-0.196328,-0.188896,-0.990173,-0.546252,...,0,0,0,0,0,0,0,0,0,0
4,13.142168,-0.150458,-0.292723,0.008853,0.073617,-0.785202,0.548008,-0.188896,-0.134239,-0.045777,...,0,0,0,0,0,0,0,0,0,0

In [145]:
df_plot=df[['price', 'bedrooms','bathrooms','sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement', 'yr_built', 'lat','long','sqft_living15','sqft_lot15']].copy()

In [146]:
sns.pairplot(df_plot);

## Check for Linearity

jointplots

## Check for Multicollinearity

In [147]:
# df_target = df_no_outliers.loc['price']
df_heatmap=df.drop(['price','zipcode', 'lat', 'long'],axis=1)
plt.figure(figsize=(20,20))
ax=sns.heatmap(df_heatmap.corr(), center=0, linewidths=.5,annot=True);
bottom, top = ax.get_ylim()
ax.set_ylim(bottom + 0.5, top - 0.5)
plt.show()

(10.0, 0.0)

In [148]:
df_heatmap.corr() > 0.75

,bathrooms,sqft_living,sqft_lot,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,sale_month
bathrooms,True,True,False,False,False,False,False,False,False,False
sqft_living,True,True,False,True,False,False,False,False,False,False
sqft_lot,False,False,True,False,False,False,False,False,True,False
sqft_above,False,True,False,True,False,False,False,False,False,False
sqft_basement,False,False,False,False,True,False,False,False,False,False
yr_built,False,False,False,False,False,True,False,False,False,False
yr_renovated,False,False,False,False,False,False,True,False,False,False
sqft_living15,False,False,False,False,False,False,False,True,False,False
sqft_lot15,False,False,True,False,False,False,False,False,True,False
sale_month,False,False,False,False,False,False,False,False,False,True

# Modeling the data

## Baseline Model

In [149]:
outcome = 'price'
x_cols = [ 'bathrooms', 'sqft_living', 'sqft_lot', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15', 'bedrooms_2', 'bedrooms_3', 'bedrooms_4', 'bedrooms_5',
       'bedrooms_6', 'bedrooms_7', 'bedrooms_8', 'bedrooms_9', 'bedrooms_10',
       'bedrooms_11', 'floors_1_5', 'floors_2_0', 'floors_2_5', 'floors_3_0',
       'floors_3_5', 'waterfront_1_0', 'view_1_0', 'view_2_0', 'view_3_0',
       'view_4_0', 'condition_2', 'condition_3', 'condition_4', 'condition_5',
       'grade_4', 'grade_5', 'grade_6', 'grade_7', 'grade_8', 'grade_9',
       'grade_10', 'grade_11', 'grade_12', 'grade_13', 'zipcode_98002',
       'zipcode_98003', 'zipcode_98004', 'zipcode_98005', 'zipcode_98006',
       'zipcode_98007', 'zipcode_98008', 'zipcode_98010', 'zipcode_98011', 
       'zipcode_98019', 'zipcode_98022', 'zipcode_98023', 'zipcode_98024',
       'zipcode_98027', 'zipcode_98028', 'zipcode_98029', 'zipcode_98030',
       'zipcode_98031', 'zipcode_98032', 'zipcode_98033', 'zipcode_98034',
       'zipcode_98038', 'zipcode_98039', 'zipcode_98040', 'zipcode_98042',
       'zipcode_98045', 'zipcode_98052', 'zipcode_98053', 'zipcode_98055',
       'zipcode_98056', 'zipcode_98058', 'zipcode_98059', 'zipcode_98065',
       'zipcode_98070', 'zipcode_98072', 'zipcode_98074', 'zipcode_98075',
       'zipcode_98077', 'zipcode_98092', 'zipcode_98102', 'zipcode_98103',
       'zipcode_98105', 'zipcode_98106', 'zipcode_98107', 'zipcode_98108',
       'zipcode_98109', 'zipcode_98112', 'zipcode_98115', 'zipcode_98116',
       'zipcode_98117', 'zipcode_98118', 'zipcode_98119', 'zipcode_98122',
       'zipcode_98125', 'zipcode_98126', 'zipcode_98133', 'zipcode_98136',
       'zipcode_98144', 'zipcode_98146', 'zipcode_98148', 'zipcode_98155',
       'zipcode_98166', 'zipcode_98168', 'zipcode_98177', 'zipcode_98178',
       'zipcode_98188', 'zipcode_98198', 'zipcode_98199','zipcode_98014']

In [150]:
# df_feats.columns = [col.replace('.', '_', inplace=True) for col in df_feats.columns]
# df_feats.columns = [col.replace(' ', '_', inplace=True) for col in df_feats.columns]
df_feats.columns = df_feats.columns.str.replace(r"[.]", "_")

In [151]:
df_feats.columns[:50]

Index(['price', 'bathrooms', 'sqft_living', 'sqft_lot', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15', 'bedrooms_2', 'bedrooms_3', 'bedrooms_4', 'bedrooms_5',
       'bedrooms_6', 'bedrooms_7', 'bedrooms_8', 'bedrooms_9', 'bedrooms_10',
       'bedrooms_11', 'floors_1_5', 'floors_2_0', 'floors_2_5', 'floors_3_0',
       'floors_3_5', 'waterfront_1_0', 'view_1_0', 'view_2_0', 'view_3_0',
       'view_4_0', 'condition_2', 'condition_3', 'condition_4', 'condition_5',
       'grade_4', 'grade_5', 'grade_6', 'grade_7', 'grade_8', 'grade_9',
       'grade_10', 'grade_11', 'grade_12', 'grade_13', 'zipcode_98002',
       'zipcode_98003', 'zipcode_98004', 'zipcode_98005', 'zipcode_98006',
       'zipcode_98007'],
      dtype='object')

In [152]:
df_feats.columns[50:]

Index(['zipcode_98008', 'zipcode_98010', 'zipcode_98011', 'zipcode_98014',
       'zipcode_98019', 'zipcode_98022', 'zipcode_98023', 'zipcode_98024',
       'zipcode_98027', 'zipcode_98028', 'zipcode_98029', 'zipcode_98030',
       'zipcode_98031', 'zipcode_98032', 'zipcode_98033', 'zipcode_98034',
       'zipcode_98038', 'zipcode_98039', 'zipcode_98040', 'zipcode_98042',
       'zipcode_98045', 'zipcode_98052', 'zipcode_98053', 'zipcode_98055',
       'zipcode_98056', 'zipcode_98058', 'zipcode_98059', 'zipcode_98065',
       'zipcode_98070', 'zipcode_98072', 'zipcode_98074', 'zipcode_98075',
       'zipcode_98077', 'zipcode_98092', 'zipcode_98102', 'zipcode_98103',
       'zipcode_98105', 'zipcode_98106', 'zipcode_98107', 'zipcode_98108',
       'zipcode_98109', 'zipcode_98112', 'zipcode_98115', 'zipcode_98116',
       'zipcode_98117', 'zipcode_98118', 'zipcode_98119', 'zipcode_98122',
       'zipcode_98125', 'zipcode_98126', 'zipcode_98133', 'zipcode_98136',
       'zipcode_98144', 'zipcode_98146', 'zipcode_98148', 'zipcode_98155',
       'zipcode_98166', 'zipcode_98168', 'zipcode_98177', 'zipcode_98178',
       'zipcode_98188', 'zipcode_98198', 'zipcode_98199'],
      dtype='object')

In [153]:
# Fitting the actual model
predictors = '+'.join(x_cols)
formula = outcome + '~' + predictors
model = ols(formula=formula, data=df_feats).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.885
Method:                 Least Squares   F-statistic:                     1481.
Date:                Tue, 28 Apr 2020   Prob (F-statistic):               0.00
Time:                        17:00:32   Log-Likelihood:                 6599.3
No. Observations:               21594   AIC:                        -1.297e+04
Df Residuals:                   21481   BIC:                        -1.207e+04
Df Model:                         112
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         12.6470      0.183     69.203      0.000      12.289      13.005
bathrooms          0.0293      0.002     12.809      0.000       0.025       0.034
sqft_living        0.0994      0.006     16.597      0.000       0.088       0.111
sqft_lot           0.0642      0.003     19.750      0.000       0.058       0.071
sqft_above         0.0817      0.006     13.783      0.000       0.070       0.093
sqft_basement      0.0134      0.003      4.596      0.000       0.008       0.019
yr_built          -0.0031      0.002     -1.319      0.187      -0.008       0.001
yr_renovated       0.0125      0.001      9.550      0.000       0.010       0.015
sqft_living15      0.0485      0.002     22.091      0.000       0.044       0.053
sqft_lot15        -0.0171      0.003     -5.309      0.000      -0.023      -0.011
bedrooms_2        -0.0162      0.014     -1.188      0.235      -0.043       0.011
bedrooms_3        -0.0400      0.014     -2.903      0.004      -0.067      -0.013
bedrooms_4        -0.0425      0.014     -3.002      0.003      -0.070      -0.015
bedrooms_5        -0.0609      0.015     -4.070      0.000      -0.090      -0.032
bedrooms_6        -0.0933      0.018     -5.143      0.000      -0.129      -0.058
bedrooms_7        -0.2045      0.033     -6.249      0.000      -0.269      -0.140
bedrooms_8        -0.1224      0.052     -2.343      0.019      -0.225      -0.020
bedrooms_9        -0.2578      0.075     -3.430      0.001      -0.405      -0.111
bedrooms_10       -0.2774      0.105     -2.655      0.008      -0.482      -0.073
bedrooms_11        0.0432      0.180      0.240      0.810      -0.309       0.396
floors_1_5         0.0036      0.005      0.709      0.478      -0.006       0.014
floors_2_0        -0.0144      0.004     -3.329      0.001      -0.023      -0.006
floors_2_5         0.0048      0.015      0.320      0.749      -0.025       0.034
floors_3_0        -0.0824      0.010     -8.670      0.000      -0.101      -0.064
floors_3_5        -0.0605      0.068     -0.885      0.376      -0.194       0.074
waterfront_1_0     0.4416      0.018     23.938      0.000       0.405       0.478
view_1_0           0.1114      0.010     10.940      0.000       0.091       0.131
view_2_0           0.1021      0.006     16.409      0.000       0.090       0.114
view_3_0           0.1733      0.008     20.476      0.000       0.157       0.190
view_4_0           0.2911      0.013     22.742      0.000       0.266       0.316
condition_2        0.1550      0.036      4.288      0.000       0.084       0.226
condition_3        0.2881      0.034      8.561      0.000       0.222       0.354
condition_4        0.3283      0.034      9.750      0.000       0.262       0.394
condition_5        0.3945      0.034     11.642      0.000       0.328       0.461
grade_4           -0.5442      0.183     -2.980      0.003      -0.902      -0.186
grade_5           -0.5651      0.180     -3.141      0.002      -0.918      -0.212
grade_6           -0.4962      0.180     -2.761      0.006      -0.848      -0.144
grade_7           -0.4267      0.180     -2.374      0.018      -0.779      -0.074
grade_8           -0.3452      0.180     -1.920      0.055      -0.698       0.007
grade_9           -0.2303      0.180     -1.280      0.201      -0.583       0.122
grade_10          -0.1411      0.180     -0.784      0.433      -0.494       0.212
grade_11          -0.0272      0.180     -0.151      0.880      -0.380       0.326
grade_12           0.0981      0.181      0.542      0.588      -0.257       0.453
grade_13           0.3468      0.187      1.854      0.064      -0.020       0.713
zipcode_98002     -0.0013      0.016     -0.081      0.936      -0.032       0.030
zipcode_98003      0.0221      0.014      1.549      0.121      -0.006       0.050
zipcode_98004      1.1273      0.014     80.193      0.000       1.100       1.155
zipcode_98005      0.7286      0.017     43.076      0.000       0.695       0.762
zipcode_98006      0.6436      0.013     50.843      0.000       0.619       0.668
zipcode_98007      0.6602      0.018     36.937      0.000       0.625       0.695
zipcode_98008      0.6611      0.014     46.136      0.000       0.633       0.689
zipcode_98010      0.2333      0.020     11.473      0.000       0.193       0.273
zipcode_98011      0.4467      0.016     28.004      0.000       0.415       0.478
zipcode_98019      0.3166      0.016     19.657      0.000       0.285       0.348
zipcode_98022      0.0414      0.015      2.722      0.006       0.012       0.071
zipcode_98023     -0.0211      0.012     -1.700      0.089      -0.045       0.003
zipcode_98024      0.4258      0.022     19.071      0.000       0.382       0.470
zipcode_98027      0.5121      0.013     39.370      0.000       0.487       0.538
zipcode_98028      0.4177      0.014     29.338      0.000       0.390       0.446
zipcode_98029      0.6052      0.014     43.448      0.000       0.578       0.632
zipcode_98030      0.0510      0.015      3.487      0.000       0.022       0.080
zipcode_98031      0.0737      0.014      5.131      0.000       0.046       0.102
zipcode_98032     -0.0126      0.019     -0.676      0.499      -0.049       0.024
zipcode_98033      0.7901      0.013     61.486      0.000       0.765       0.815
zipcode_98034      0.5488      0.012     45.030      0.000       0.525       0.573
zipcode_98038      0.1673      0.012     13.924      0.000       0.144       0.191
zipcode_98039      1.2890      0.027     47.089      0.000       1.235       1.343
zipcode_98040      0.8793      0.015     60.223      0.000       0.851       0.908
zipcode_98042      0.0650      0.012      5.355      0.000       0.041       0.089
zipcode_98045      0.3204      0.015     20.830      0.000       0.290       0.351
zipcode_98052      0.6379      0.012     52.594      0.000       0.614       0.662
zipcode_98053      0.5811      0.013     44.254      0.000       0.555       0.607
zipcode_98055      0.1534      0.014     10.597      0.000       0.125       0.182
zipcode_98056      0.3286      0.013     25.256      0.000       0.303       0.354
zipcode_98058      0.1658      0.013     13.127      0.000       0.141       0.191
zipcode_98059      0.3399      0.013     26.966      0.000       0.315       0.365
zipcode_98065      0.4069      0.014     29.012      0.000       0.379       0.434
zipcode_98070      0.3064      0.020     15.627      0.000       0.268       0.345
zipcode_98072      0.4731      0.014     32.773      0.000       0.445       0.501
zipcode_98074      0.5504      0.013     42.769      0.000       0.525       0.576
zipcode_98075      0.5563      0.014     40.830      0.000       0.530       0.583
zipcode_98077      0.4284      0.016     26.562      0.000       0.397       0.460
zipcode_98092      0.0191      0.013      1.419      0.156      -0.007       0.045
zipcode_98102      1.0091      0.021     48.851      0.000       0.969       1.050
zipcode_98103      0.8824      0.013     69.000      0.000       0.857       0.907
zipcode_98105      0.9828      0.016     62.151      0.000       0.952       1.014
zipcode_98106      0.3876      0.014     27.945      0.000       0.360       0.415
zipcode_98107      0.9070      0.015     59.909      0.000       0.877       0.937
zipcode_98108      0.3960      0.016     24.163      0.000       0.364       0.428
zipcode_98109      1.0384      0.020     51.431      0.000       0.999       1.078
zipcode_98112      1.0822      0.015     70.843      0.000       1.052       1.112
zipcode_98115      0.8538      0.012     68.474      0.000       0.829       0.878
zipcode_98116      0.7980      0.014     56.498      0.000       0.770       0.826
zipcode_98117      0.8590      0.013     67.804      0.000       0.834       0.884
zipcode_98118      0.4987      0.013     39.279      0.000       0.474       0.524
zipcode_98119      1.0216      0.017     60.199      0.000       0.988       1.055
zipcode_98122      0.8554      0.015     57.635      0.000       0.826       0.885
zipcode_98125      0.5949      0.013     45.345      0.000       0.569       0.621
zipcode_98126      0.5947      0.014     43.128      0.000       0.568       0.622
zipcode_98133      0.4907      0.013     39.021      0.000       0.466       0.515
zipcode_98136      0.7175      0.015     48.170      0.000       0.688       0.747
zipcode_98144      0.7177      0.014     51.108      0.000       0.690       0.745
zipcode_98146      0.3003      0.014     21.010      0.000       0.272       0.328
zipcode_98148      0.1781      0.026      6.971      0.000       0.128       0.228
zipcode_98155      0.4444      0.013     34.842      0.000       0.419       0.469
zipcode_98166      0.3168      0.015     21.427      0.000       0.288       0.346
zipcode_98168      0.0914      0.015      6.263      0.000       0.063       0.120
zipcode_98177      0.5991      0.015     40.299      0.000       0.570       0.628
zipcode_98178      0.1696      0.015     11.535      0.000       0.141       0.198
zipcode_98188      0.1104      0.018      6.121      0.000       0.075       0.146
zipcode_98198      0.0718      0.014      5.015      0.000       0.044       0.100
zipcode_98199      0.8882      0.014     62.217      0.000       0.860       0.916
zipcode_98014      0.2999      0.019     15.806      0.000       0.263       0.337
==============================================================================
Omnibus:                     1572.942   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6970.265
Skew:                          -0.222   Prob(JB):                         0.00
Kurtosis:                       5.748   Cond. No.                         979.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [154]:
fig = sm.graphics.qqplot(model.resid, dist=stats.norm, line='45', fit=True)

In [155]:
plt.scatter(model.predict(df_feats[x_cols]), model.resid)
plt.plot(model.predict(df_feats[x_cols]), [0 for i in range(len(df_feats))])
plt.show()

In [156]:
X = df_feats[x_cols]

In [157]:
vif = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
list(zip(x_cols, vif))

[('bathrooms', 3.530401994851968),
 ('sqft_living', 24.222067447269048),
 ('sqft_lot', 7.15187700835907),
 ('sqft_above', 23.759504798232825),
 ('sqft_basement', 5.759001916723862),
 ('yr_built', 3.669062352261675),
 ('yr_renovated', 1.156633366476584),
 ('sqft_living15', 3.2570041356625135),
 ('sqft_lot15', 7.010293489551642),
 ('bedrooms_2', 16.112985759119614),
 ('bedrooms_3', 58.32857026250645),
 ('bedrooms_4', 43.242884397407956),
 ('bedrooms_5', 11.207511327710838),
 ('bedrooms_6', 2.802938675485087),
 ('bedrooms_7', 1.2742432701163189),
 ('bedrooms_8', 1.1101049331222081),
 ('bedrooms_9', 1.0613189606687237),
 ('bedrooms_10', 1.0256945357111498),
 ('bedrooms_11', 1.0119550156020927),
 ('floors_1_5', 1.5410952155622177),
 ('floors_2_0', 4.799164455602561),
 ('floors_2_5', 1.1360435914970166),
 ('floors_3_0', 1.7287549653028464),
 ('floors_3_5', 1.0242600394851575),
 ('waterfront_1_0', 1.5553823568383076),
 ('view_1_0', 1.0721670412106308),
 ('view_2_0', 1.1580940140641796),
 ('view_3_0', 1.1374523141848736),
 ('view_4_0', 1.625540432395056),
 ('condition_2', 6.752721606528652),
 ('condition_3', 480.2445122596021),
 ('condition_4', 194.7366619236183),
 ('condition_5', 59.05589956085775),
 ('grade_4', 2.028715557595756),
 ('grade_5', 10.478024787157011),
 ('grade_6', 86.65165896774477),
 ('grade_7', 380.6631011082338),
 ('grade_8', 258.21938677947134),
 ('grade_9', 112.56448485444437),
 ('grade_10', 49.715889014701546),
 ('grade_11', 18.209720196401154),
 ('grade_12', 4.929630095688753),
 ('grade_13', 1.5968613010452872),
 ('zipcode_98002', 1.5709791670644118),
 ('zipcode_98003', 1.7842224938973348),
 ('zipcode_98004', 1.9586799411896698),
 ('zipcode_98005', 1.5034828652401353),
 ('zipcode_98006', 2.494703532528723),
 ('zipcode_98007', 1.4094330188170063),
 ('zipcode_98008', 1.8169652907619647),
 ('zipcode_98010', 1.2939581725711422),
 ('zipcode_98011', 1.5516838625090843),
 ('zipcode_98019', 1.5411730414347453),
 ('zipcode_98022', 1.6690497819662267),
 ('zipcode_98023', 2.3982586859828454),
 ('zipcode_98024', 1.2478842378421369),
 ('zipcode_98027', 2.179077333123911),
 ('zipcode_98028', 1.7937896658832828),
 ('zipcode_98029', 1.947366457335521),
 ('zipcode_98030', 1.7109588453793843),
 ('zipcode_98031', 1.761412114336089),
 ('zipcode_98032', 1.353918504802189),
 ('zipcode_98033', 2.2297391571222827),
 ('zipcode_98034', 2.530783870622974),
 ('zipcode_98038', 2.6569259881652907),
 ('zipcode_98039', 1.1725217895116762),
 ('zipcode_98040', 1.8802234158364048),
 ('zipcode_98042', 2.522202537438508),
 ('zipcode_98045', 1.627724650467914),
 ('zipcode_98052', 2.638870126790858),
 ('zipcode_98053', 2.172190325374149),
 ('zipcode_98055', 1.7560154298713642),
 ('zipcode_98056', 2.1487470698804256),
 ('zipcode_98058', 2.2683029888634145),
 ('zipcode_98059', 2.3239580440569982),
 ('zipcode_98065', 1.8944303660436295),
 ('zipcode_98070', 1.4074437588610251),
 ('zipcode_98072', 1.7791474892469359),
 ('zipcode_98074', 2.283751806472824),
 ('zipcode_98075', 2.08357667099213),
 ('zipcode_98077', 1.6106511005668114),
 ('zipcode_98092', 1.984590786917262),
 ('zipcode_98102', 1.388841795432295),
 ('zipcode_98103', 3.0784271717407568),
 ('zipcode_98105', 1.791663393837865),
 ('zipcode_98106', 2.0158358158584693),
 ('zipcode_98107', 1.907327645100395),
 ('zipcode_98108', 1.5624789228082772),
 ('zipcode_98109', 1.3904745803324583),
 ('zipcode_98112', 1.9634953471798866),
 ('zipcode_98115', 2.83425666725448),
 ('zipcode_98116', 2.0587083745677344),
 ('zipcode_98117', 2.775549079841651),
 ('zipcode_98118', 2.5557616871708553),
 ('zipcode_98119', 1.6578581564577353),
 ('zipcode_98122', 1.9980700184933426),
 ('zipcode_98125', 2.201451730698492),
 ('zipcode_98126', 2.1046615053013342),
 ('zipcode_98133', 2.4379679225345923),
 ('zipcode_98136', 1.8252867969423363),
 ('zipcode_98144', 2.1158285330998474),
 ('zipcode_98146', 1.8400709466774687),
 ('zipcode_98148', 1.1646538950608019),
 ('zipcode_98155', 2.268051994278131),
 ('zipcode_98166', 1.736366566436209),
 ('zipcode_98168', 1.7894176030335456),
 ('zipcode_98177', 1.7625066892403984),
 ('zipcode_98178', 1.7724366266188074),
 ('zipcode_98188', 1.3846035362164206),
 ('zipcode_98198', 1.795074742731248),
 ('zipcode_98199', 2.020418133285668),
 ('zipcode_98014', 1.3745411895991333)]

## K-fold Cross Validation for Model 1

In [158]:
X = df_feats[x_cols]
y = df_feats['price']

linreg = LinearRegression()
cvs_10=cross_val_score(linreg, X, y, cv=10)
cvs_10_res_mean = round(np.mean(cvs_10),5)
cv_10_res_std = round(np.std(cvs_10),5)
print(f'Mean cross validation score for 10 fold is {cvs_10_res_mean}')
print(f'Standard deviation of the score is {cv_10_res_std}')

Mean cross validation score for 10 fold is -3.401270363261404e+20
Standard deviation of the score is 1.0136709916109482e+21

## Perform stepwise selection

In [159]:
import statsmodels.api as sm

def stepwise_selection(X, y, 
                       initial_list=[], 
                       threshold_in=0.01, 
                       threshold_out = 0.05, 
                       verbose=True):
    """ Perform a forward-backward feature selection 
    based on p-value from statsmodels.api.OLS
    Arguments:
        X - pandas.DataFrame with candidate features
        y - list-like with the target
        initial_list - list of features to start with (column names of X)
        threshold_in - include a feature if its p-value < threshold_in
        threshold_out - exclude a feature if its p-value > threshold_out
        verbose - whether to print the sequence of inclusions and exclusions
    Returns: list of selected features 
    Always set threshold_in < threshold_out to avoid infinite looping.
    See https://en.wikipedia.org/wiki/Stepwise_regression for the details
    """
    included = list(initial_list)
    while True:
        changed=False
        # forward step
        excluded = list(set(X.columns)-set(included))
        new_pval = pd.Series(index=excluded)
        for new_column in excluded:
            model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[included+[new_column]]))).fit()
            new_pval[new_column] = model.pvalues[new_column]
        best_pval = new_pval.min()
        if best_pval < threshold_in:
            best_feature = new_pval.idxmin()
            included.append(best_feature)
            changed=True
            if verbose:
                print('Add  {:30} with p-value {:.6}'.format(best_feature, best_pval))

        # backward step
        model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[included]))).fit()
        # use all coefs except intercept
        pvalues = model.pvalues.iloc[1:]
        worst_pval = pvalues.max() # null if pvalues is empty
        if worst_pval > threshold_out:
            changed=True
            worst_feature = pvalues.argmax()
            included.remove(worst_feature)
            if verbose:
                print('Drop {:30} with p-value {:.6}'.format(worst_feature, worst_pval))
        if not changed:
            break
    return included

In [160]:
X = df_feats[x_cols]
# X = df_feats.drop('price', axis=1)
y = df_feats['price']

result = stepwise_selection(X, y, verbose = False)
print('resulting features:')
print(result)

resulting features:
['grade_9', 'grade_7', 'sqft_living15', 'sqft_living', 'grade_6', 'zipcode_98004', 'zipcode_98023', 'grade_8', 'grade_5', 'waterfront_1_0', 'zipcode_98003', 'zipcode_98092', 'zipcode_98038', 'zipcode_98002', 'zipcode_98032', 'zipcode_98039', 'bathrooms', 'zipcode_98033', 'zipcode_98040', 'zipcode_98112', 'zipcode_98115', 'zipcode_98117', 'zipcode_98103', 'zipcode_98199', 'zipcode_98105', 'zipcode_98119', 'zipcode_98107', 'zipcode_98116', 'zipcode_98109', 'zipcode_98122', 'zipcode_98102', 'view_4_0', 'zipcode_98006', 'zipcode_98052', 'zipcode_98136', 'zipcode_98144', 'sqft_lot', 'zipcode_98008', 'zipcode_98005', 'grade_4', 'zipcode_98053', 'view_3_0', 'zipcode_98029', 'zipcode_98126', 'zipcode_98125', 'zipcode_98034', 'zipcode_98177', 'zipcode_98007', 'condition_5', 'zipcode_98074', 'zipcode_98075', 'grade_10', 'zipcode_98027', 'view_2_0', 'sqft_above', 'zipcode_98133', 'zipcode_98118', 'zipcode_98072', 'zipcode_98155', 'condition_4', 'condition_3', 'view_1_0', 'zipcode_98011', 'zipcode_98065', 'zipcode_98028', 'zipcode_98077', 'zipcode_98106', 'yr_renovated', 'zipcode_98108', 'zipcode_98059', 'zipcode_98056', 'zipcode_98024', 'grade_11', 'floors_3_0', 'zipcode_98166', 'zipcode_98146', 'zipcode_98045', 'zipcode_98019', 'zipcode_98014', 'zipcode_98070', 'zipcode_98010', 'zipcode_98058', 'zipcode_98178', 'zipcode_98055', 'sqft_basement', 'sqft_lot15', 'bedrooms_7', 'zipcode_98148', 'grade_13', 'bedrooms_2', 'condition_2', 'floors_2_0', 'bedrooms_6', 'zipcode_98188', 'zipcode_98168', 'bedrooms_5', 'bedrooms_9']

In [161]:
a=['grade_6', 'sqft_living', 'grade_7', 'grade_8', 'grade_5', 'zipcode_98004', 'zipcode_98023', 'grade_9', 'waterfront_1_0', 'sqft_living15', 'zipcode_98003', 'zipcode_98092', 'zipcode_98038', 'zipcode_98002', 'zipcode_98032', 'zipcode_98039', 'bathrooms', 'zipcode_98033', 'zipcode_98040', 'zipcode_98112', 'zipcode_98115', 'zipcode_98117', 'zipcode_98103', 'zipcode_98199', 'zipcode_98105', 'zipcode_98119', 'zipcode_98107', 'zipcode_98116', 'zipcode_98109', 'zipcode_98122', 'zipcode_98102', 'view_4_0', 'zipcode_98006', 'zipcode_98052', 'zipcode_98136', 'zipcode_98144', 'sqft_lot', 'zipcode_98008', 'zipcode_98005', 'grade_4', 'zipcode_98053', 'view_3_0', 'zipcode_98029', 'zipcode_98126', 'zipcode_98125', 'zipcode_98034', 'zipcode_98177', 'zipcode_98007', 'condition_5', 'zipcode_98074', 'zipcode_98075', 'grade_10', 'zipcode_98027', 'view_2_0', 'sqft_above', 'zipcode_98133', 'zipcode_98118', 'zipcode_98072', 'zipcode_98155', 'condition_4', 'condition_3', 'view_1_0', 'zipcode_98011', 'zipcode_98065', 'zipcode_98028', 'zipcode_98077', 'zipcode_98106', 'yr_renovated', 'zipcode_98108', 'zipcode_98059', 'zipcode_98056', 'zipcode_98024', 'grade_11', 'floors_3_0', 'zipcode_98166', 'zipcode_98146', 'zipcode_98045', 'zipcode_98019', 'zipcode_98014', 'zipcode_98070', 'zipcode_98010', 'zipcode_98058', 'zipcode_98178', 'zipcode_98055', 'sqft_basement', 'sqft_lot15', 'bedrooms_7', 'zipcode_98148', 'grade_13', 'bedrooms_2', 'condition_2', 'floors_2_0', 'bedrooms_6', 'zipcode_98188', 'zipcode_98168', 'bedrooms_5', 'bedrooms_9']

In [162]:
len(a)

97

In [163]:
b=['grade_7', 'sqft_living', 'zipcode_98004', 'waterfront_1_0', 'zipcode_98039', 'zipcode_98112', 'grade_13', 'grade_12', 'grade_11', 'grade_10', 'grade_6', 'zipcode_98040', 'grade_9', 'zipcode_98033', 'zipcode_98023', 'view_4_0', 'zipcode_98105', 'zipcode_98119', 'zipcode_98199', 'zipcode_98103', 'zipcode_98115', 'zipcode_98117', 'zipcode_98109', 'zipcode_98107', 'zipcode_98102', 'zipcode_98122', 'view_3_0', 'zipcode_98116', 'zipcode_98052', 'zipcode_98144', 'zipcode_98006', 'zipcode_98008', 'zipcode_98005', 'zipcode_98053', 'zipcode_98034', 'zipcode_98136', 'zipcode_98029', 'zipcode_98092', 'zipcode_98125', 'zipcode_98177', 'condition_5', 'zipcode_98007', 'zipcode_98126', 'zipcode_98074', 'zipcode_98075', 'zipcode_98027', 'zipcode_98133', 'zipcode_98118', 'view_2_0', 'zipcode_98072', 'zipcode_98155', 'sqft_above', 'view_1_0', 'yr_renovated', 'zipcode_98028', 'sqft_lot', 'zipcode_98106', 'zipcode_98011', 'condition_4', 'sqft_living15', 'bedrooms_3', 'zipcode_98108', 'floors_3_0', 'floors_2_0', 'bathrooms', 'zipcode_98146', 'zipcode_98056', 'zipcode_98077', 'zipcode_98024', 'zipcode_98065', 'zipcode_98059', 'zipcode_98045', 'zipcode_98019', 'bedrooms_2', 'zipcode_98014', 'zipcode_98166', 'bedrooms_7', 'zipcode_98168', 'floors_2_5', 'yr_built', 'bedrooms_9', 'zipcode_98038', 'zipcode_98055', 'zipcode_98058', 'bedrooms_10', 'zipcode_98010', 'zipcode_98148', 'sqft_lot15', 'zipcode_98178']

In [164]:
len(b)

89

In [165]:
print(a)

['grade_6', 'sqft_living', 'grade_7', 'grade_8', 'grade_5', 'zipcode_98004', 'zipcode_98023', 'grade_9', 'waterfront_1_0', 'sqft_living15', 'zipcode_98003', 'zipcode_98092', 'zipcode_98038', 'zipcode_98002', 'zipcode_98032', 'zipcode_98039', 'bathrooms', 'zipcode_98033', 'zipcode_98040', 'zipcode_98112', 'zipcode_98115', 'zipcode_98117', 'zipcode_98103', 'zipcode_98199', 'zipcode_98105', 'zipcode_98119', 'zipcode_98107', 'zipcode_98116', 'zipcode_98109', 'zipcode_98122', 'zipcode_98102', 'view_4_0', 'zipcode_98006', 'zipcode_98052', 'zipcode_98136', 'zipcode_98144', 'sqft_lot', 'zipcode_98008', 'zipcode_98005', 'grade_4', 'zipcode_98053', 'view_3_0', 'zipcode_98029', 'zipcode_98126', 'zipcode_98125', 'zipcode_98034', 'zipcode_98177', 'zipcode_98007', 'condition_5', 'zipcode_98074', 'zipcode_98075', 'grade_10', 'zipcode_98027', 'view_2_0', 'sqft_above', 'zipcode_98133', 'zipcode_98118', 'zipcode_98072', 'zipcode_98155', 'condition_4', 'condition_3', 'view_1_0', 'zipcode_98011', 'zipcode_98065', 'zipcode_98028', 'zipcode_98077', 'zipcode_98106', 'yr_renovated', 'zipcode_98108', 'zipcode_98059', 'zipcode_98056', 'zipcode_98024', 'grade_11', 'floors_3_0', 'zipcode_98166', 'zipcode_98146', 'zipcode_98045', 'zipcode_98019', 'zipcode_98014', 'zipcode_98070', 'zipcode_98010', 'zipcode_98058', 'zipcode_98178', 'zipcode_98055', 'sqft_basement', 'sqft_lot15', 'bedrooms_7', 'zipcode_98148', 'grade_13', 'bedrooms_2', 'condition_2', 'floors_2_0', 'bedrooms_6', 'zipcode_98188', 'zipcode_98168', 'bedrooms_5', 'bedrooms_9']

In [166]:
len(x_cols)

112

In [167]:
len(x_cols)

112

## Model Refinement I

In [168]:
outcome = 'price'
x_cols = ['grade_7', 'sqft_living15', 'sqft_living', 'grade_6', 'zipcode_98023', 'zipcode_98004', 'grade_8', 'grade_5', 'grade_9', 'waterfront_1_0', 'zipcode_98003', 'zipcode_98092', 'zipcode_98038', 'zipcode_98002', 'zipcode_98032', 'zipcode_98039', 'bathrooms', 'zipcode_98033', 'zipcode_98040', 'zipcode_98112', 'zipcode_98115', 'zipcode_98117', 'zipcode_98103', 'zipcode_98199', 'zipcode_98105', 'zipcode_98119', 'zipcode_98107', 'zipcode_98116', 'zipcode_98109', 'zipcode_98122', 'zipcode_98102', 'view_4_0', 'zipcode_98006', 'zipcode_98052', 'zipcode_98136', 'zipcode_98144', 'sqft_lot', 'zipcode_98008', 'zipcode_98005', 'grade_4', 'zipcode_98053', 'view_3_0', 'zipcode_98029', 'zipcode_98126', 'zipcode_98125', 'zipcode_98034', 'zipcode_98177', 'zipcode_98007', 'condition_5', 'zipcode_98074', 'zipcode_98075', 'grade_10', 'zipcode_98027', 'view_2_0', 'sqft_above', 'zipcode_98133', 'zipcode_98118', 'zipcode_98072', 'zipcode_98155', 'condition_4', 'condition_3', 'view_1_0', 'zipcode_98011', 'zipcode_98065', 'zipcode_98028', 'zipcode_98077', 'zipcode_98106', 'yr_renovated', 'zipcode_98108', 'zipcode_98059', 'zipcode_98056', 'zipcode_98024', 'grade_11', 'floors_3_0', 'zipcode_98166', 'zipcode_98146', 'zipcode_98045', 'zipcode_98019', 'zipcode_98014', 'zipcode_98070', 'zipcode_98010', 'zipcode_98058', 'zipcode_98178', 'zipcode_98055', 'sqft_basement', 'sqft_lot15', 'bedrooms_7', 'zipcode_98148', 'grade_13', 'bedrooms_2', 'condition_2', 'floors_2_0', 'bedrooms_6', 'zipcode_98188', 'zipcode_98168', 'bedrooms_5', 'bedrooms_9']

In [169]:
# Fitting the actual model
predictors = '+'.join(x_cols)
formula = outcome + '~' + predictors
model = ols(formula=formula, data=df_feats).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.885
Method:                 Least Squares   F-statistic:                     1706.
Date:                Tue, 28 Apr 2020   Prob (F-statistic):               0.00
Time:                        17:07:04   Log-Likelihood:                 6568.0
No. Observations:               21594   AIC:                        -1.294e+04
Df Residuals:                   21496   BIC:                        -1.216e+04
Df Model:                          97
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         12.7573      0.040    320.698      0.000      12.679      12.835
grade_7           -0.5247      0.021    -25.489      0.000      -0.565      -0.484
sqft_living15      0.0493      0.002     22.558      0.000       0.045       0.054
sqft_living        0.0968      0.006     16.564      0.000       0.085       0.108
grade_6           -0.5922      0.021    -27.602      0.000      -0.634      -0.550
zipcode_98023     -0.0718      0.009     -7.951      0.000      -0.090      -0.054
zipcode_98004      1.0765      0.011     96.810      0.000       1.055       1.098
grade_8           -0.4433      0.020    -22.066      0.000      -0.483      -0.404
grade_5           -0.6571      0.024    -26.938      0.000      -0.705      -0.609
grade_9           -0.3286      0.020    -16.532      0.000      -0.368      -0.290
waterfront_1_0     0.4449      0.018     24.117      0.000       0.409       0.481
zipcode_98003     -0.0279      0.011     -2.436      0.015      -0.050      -0.005
zipcode_98092     -0.0315      0.010     -3.020      0.003      -0.052      -0.011
zipcode_98038      0.1168      0.009     13.731      0.000       0.100       0.133
zipcode_98002     -0.0513      0.013     -3.822      0.000      -0.078      -0.025
zipcode_98032     -0.0630      0.017     -3.807      0.000      -0.095      -0.031
zipcode_98039      1.2398      0.026     47.703      0.000       1.189       1.291
bathrooms          0.0281      0.002     12.820      0.000       0.024       0.032
zipcode_98033      0.7401      0.010     77.008      0.000       0.721       0.759
zipcode_98040      0.8293      0.012     70.294      0.000       0.806       0.852
zipcode_98112      1.0367      0.012     86.053      0.000       1.013       1.060
zipcode_98115      0.8075      0.009     92.485      0.000       0.790       0.825
zipcode_98117      0.8135      0.009     90.753      0.000       0.796       0.831
zipcode_98103      0.8372      0.009     93.661      0.000       0.820       0.855
zipcode_98199      0.8412      0.011     75.113      0.000       0.819       0.863
zipcode_98105      0.9356      0.013     73.003      0.000       0.910       0.961
zipcode_98119      0.9767      0.014     68.973      0.000       0.949       1.004
zipcode_98107      0.8608      0.012     70.922      0.000       0.837       0.885
zipcode_98116      0.7517      0.011     68.488      0.000       0.730       0.773
zipcode_98109      0.9944      0.018     55.583      0.000       0.959       1.029
zipcode_98122      0.8106      0.012     69.680      0.000       0.788       0.833
zipcode_98102      0.9642      0.018     52.446      0.000       0.928       1.000
view_4_0           0.2925      0.013     22.869      0.000       0.267       0.318
zipcode_98006      0.5929      0.009     63.570      0.000       0.575       0.611
zipcode_98052      0.5877      0.009     68.004      0.000       0.571       0.605
zipcode_98136      0.6706      0.012     55.742      0.000       0.647       0.694
zipcode_98144      0.6718      0.011     61.957      0.000       0.651       0.693
sqft_lot           0.0646      0.003     20.035      0.000       0.058       0.071
zipcode_98008      0.6107      0.011     53.175      0.000       0.588       0.633
zipcode_98005      0.6788      0.015     46.523      0.000       0.650       0.707
grade_4           -0.6218      0.041    -15.153      0.000      -0.702      -0.541
zipcode_98053      0.5313      0.010     53.046      0.000       0.512       0.551
view_3_0           0.1742      0.008     20.667      0.000       0.158       0.191
zipcode_98029      0.5555      0.011     50.391      0.000       0.534       0.577
zipcode_98126      0.5483      0.011     51.445      0.000       0.527       0.569
zipcode_98125      0.5468      0.010     55.384      0.000       0.527       0.566
zipcode_98034      0.4986      0.009     57.122      0.000       0.481       0.516
zipcode_98177      0.5506      0.012     45.499      0.000       0.527       0.574
zipcode_98007      0.6102      0.016     38.865      0.000       0.579       0.641
condition_5        0.3933      0.034     11.600      0.000       0.327       0.460
zipcode_98074      0.5006      0.010     51.782      0.000       0.482       0.520
zipcode_98075      0.5059      0.011     47.513      0.000       0.485       0.527
grade_10          -0.2384      0.020    -11.911      0.000      -0.278      -0.199
zipcode_98027      0.4623      0.010     46.992      0.000       0.443       0.482
view_2_0           0.1025      0.006     16.558      0.000       0.090       0.115
sqft_above         0.0828      0.006     14.370      0.000       0.071       0.094
zipcode_98133      0.4422      0.009     48.183      0.000       0.424       0.460
zipcode_98118      0.4518      0.009     49.166      0.000       0.434       0.470
zipcode_98072      0.4234      0.012     36.230      0.000       0.400       0.446
zipcode_98155      0.3951      0.009     41.762      0.000       0.377       0.414
condition_4        0.3264      0.034      9.684      0.000       0.260       0.392
condition_3        0.2846      0.034      8.452      0.000       0.219       0.351
view_1_0           0.1130      0.010     11.107      0.000       0.093       0.133
zipcode_98011      0.3971      0.014     29.402      0.000       0.371       0.424
zipcode_98065      0.3570      0.011     31.963      0.000       0.335       0.379
zipcode_98028      0.3678      0.011     32.189      0.000       0.345       0.390
zipcode_98077      0.3785      0.014     27.581      0.000       0.352       0.405
zipcode_98106      0.3398      0.011     31.219      0.000       0.319       0.361
yr_renovated       0.0132      0.001     10.593      0.000       0.011       0.016
zipcode_98108      0.3489      0.014     25.116      0.000       0.322       0.376
zipcode_98059      0.2887      0.009     31.014      0.000       0.270       0.307
zipcode_98056      0.2776      0.010     28.179      0.000       0.258       0.297
zipcode_98024      0.3764      0.021     18.217      0.000       0.336       0.417
grade_11          -0.1237      0.021     -5.872      0.000      -0.165      -0.082
floors_3_0        -0.0875      0.009     -9.876      0.000      -0.105      -0.070
zipcode_98166      0.2677      0.012     22.219      0.000       0.244       0.291
zipcode_98146      0.2516      0.011     21.973      0.000       0.229       0.274
zipcode_98045      0.2703      0.013     21.052      0.000       0.245       0.296
zipcode_98019      0.2676      0.014     19.540      0.000       0.241       0.294
zipcode_98014      0.2520      0.017     14.856      0.000       0.219       0.285
zipcode_98070      0.2575      0.018     14.605      0.000       0.223       0.292
zipcode_98010      0.1827      0.018      9.891      0.000       0.147       0.219
zipcode_98058      0.1153      0.009     12.333      0.000       0.097       0.134
zipcode_98178      0.1208      0.012     10.114      0.000       0.097       0.144
zipcode_98055      0.1042      0.012      8.904      0.000       0.081       0.127
sqft_basement      0.0137      0.003      4.699      0.000       0.008       0.019
sqft_lot15        -0.0174      0.003     -5.425      0.000      -0.024      -0.011
bedrooms_7        -0.1589      0.029     -5.408      0.000      -0.216      -0.101
zipcode_98148      0.1287      0.024      5.339      0.000       0.081       0.176
grade_13           0.2541      0.053      4.750      0.000       0.149       0.359
bedrooms_2         0.0213      0.004      4.979      0.000       0.013       0.030
condition_2        0.1524      0.036      4.213      0.000       0.082       0.223
floors_2_0        -0.0166      0.004     -4.254      0.000      -0.024      -0.009
bedrooms_6        -0.0490      0.011     -4.352      0.000      -0.071      -0.027
zipcode_98188      0.0608      0.016      3.821      0.000       0.030       0.092
zipcode_98168      0.0429      0.012      3.625      0.000       0.020       0.066
bedrooms_5        -0.0179      0.005     -3.599      0.000      -0.028      -0.008
bedrooms_9        -0.2081      0.074     -2.825      0.005      -0.352      -0.064
==============================================================================
Omnibus:                     1560.060   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6964.208
Skew:                          -0.213   Prob(JB):                         0.00
Kurtosis:                       5.749   Cond. No.                         123.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [170]:
X = df_feats[x_cols]

In [171]:
X.head()

,grade_7,sqft_living15,sqft_living,grade_6,zipcode_98023,zipcode_98004,grade_8,grade_5,grade_9,waterfront_1_0,...,zipcode_98148,grade_13,bedrooms_2,condition_2,floors_2_0,bedrooms_6,zipcode_98188,zipcode_98168,bedrooms_5,bedrooms_9
0,1,-1.035409,-1.125683,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,-0.326807,0.709834,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,1.126666,-2.131831,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,-0.990173,0.070792,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,-0.134239,-0.292723,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [172]:
fig = sm.graphics.qqplot(model.resid, dist=stats.norm, line='45', fit=True)

In [173]:
plt.scatter(model.predict(df_feats[x_cols]), model.resid)
plt.plot(model.predict(df_feats[x_cols]), [0 for i in range(len(df_feats))])

In [174]:
vif = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
list(zip(x_cols, vif))

[('grade_7', 86.78498522120823),
 ('sqft_living15', 3.210888488418228),
 ('sqft_living', 23.016517311781026),
 ('grade_6', 21.55868504532976),
 ('zipcode_98023', 1.2655115162110668),
 ('zipcode_98004', 1.216143216071013),
 ('grade_8', 56.23484952333962),
 ('grade_5', 3.4030894577343616),
 ('grade_9', 24.109533828675897),
 ('waterfront_1_0', 1.5518794091058816),
 ('zipcode_98003', 1.1474959183039652),
 ('zipcode_98092', 1.1916613047719953),
 ('zipcode_98038', 1.3290484346719755),
 ('zipcode_98002', 1.1196574947487616),
 ('zipcode_98032', 1.069170107530686),
 ('zipcode_98039', 1.052427518452627),
 ('bathrooms', 3.2238069068262343),
 ('zipcode_98033', 1.2400626901956693),
 ('zipcode_98040', 1.2213225543383506),
 ('zipcode_98112', 1.2118716678670949),
 ('zipcode_98115', 1.3798709031587486),
 ('zipcode_98117', 1.3781122996343032),
 ('zipcode_98103', 1.491839635137205),
 ('zipcode_98199', 1.2365972742914628),
 ('zipcode_98105', 1.171037158786296),
 ('zipcode_98119', 1.1490478943763824),
 ('zipcode_98107', 1.2196610016844058),
 ('zipcode_98116', 1.2327068046720753),
 ('zipcode_98109', 1.087680212065104),
 ('zipcode_98122', 1.2153717302488936),
 ('zipcode_98102', 1.0953248118405827),
 ('view_4_0', 1.6157097233121351),
 ('zipcode_98006', 1.33393983572464),
 ('zipcode_98052', 1.3326237681729023),
 ('zipcode_98136', 1.1846572916101221),
 ('zipcode_98144', 1.2546001332804682),
 ('sqft_lot', 6.990183027668154),
 ('zipcode_98008', 1.1633537090999615),
 ('zipcode_98005', 1.1134744794513858),
 ('grade_4', 1.2951658275291005),
 ('zipcode_98053', 1.2605912938537207),
 ('view_3_0', 1.1243395711762336),
 ('zipcode_98029', 1.214449588732566),
 ('zipcode_98126', 1.2502130564928755),
 ('zipcode_98125', 1.2416718603244983),
 ('zipcode_98034', 1.2918208048424982),
 ('zipcode_98177', 1.163013437596239),
 ('zipcode_98007', 1.0841962878008025),
 ('condition_5', 17.58425131261114),
 ('zipcode_98074', 1.282378629856607),
 ('zipcode_98075', 1.2685721654431725),
 ('grade_10', 10.859862959754649),
 ('zipcode_98027', 1.2415677684322686),
 ('view_2_0', 1.1448701895771256),
 ('sqft_above', 22.36608569815962),
 ('zipcode_98133', 1.2913384488461135),
 ('zipcode_98118', 1.3312086930360838),
 ('zipcode_98072', 1.162913999187738),
 ('zipcode_98155', 1.2419398142357236),
 ('condition_4', 55.94167817121906),
 ('condition_3', 135.8226351776887),
 ('view_1_0', 1.0670271246741618),
 ('zipcode_98011', 1.1090485234042242),
 ('zipcode_98065', 1.1990129632301045),
 ('zipcode_98028', 1.1514299241674328),
 ('zipcode_98077', 1.16310926513729),
 ('zipcode_98106', 1.2348944752094433),
 ('yr_renovated', 1.0522781988177887),
 ('zipcode_98108', 1.1194844281577878),
 ('zipcode_98059', 1.2642428531597758),
 ('zipcode_98056', 1.2283093084476124),
 ('zipcode_98024', 1.0668552984922783),
 ('grade_11', 4.414530088181633),
 ('floors_3_0', 1.4964982633033186),
 ('zipcode_98166', 1.1490820195064173),
 ('zipcode_98146', 1.1770181465339518),
 ('zipcode_98045', 1.1320778767337112),
 ('zipcode_98019', 1.1131230018477805),
 ('zipcode_98014', 1.0964043025931256),
 ('zipcode_98070', 1.1362740982071586),
 ('zipcode_98010', 1.0658569864160425),
 ('zipcode_98058', 1.2375232957753268),
 ('zipcode_98178', 1.1656426934464619),
 ('zipcode_98055', 1.144512772744304),
 ('sqft_basement', 5.717356572432143),
 ('sqft_lot15', 6.970978892925657),
 ('bedrooms_7', 1.024571831332657),
 ('zipcode_98148', 1.031076845288116),
 ('grade_13', 1.1308246430897348),
 ('bedrooms_2', 1.5790880519134147),
 ('condition_2', 2.655187897949987),
 ('floors_2_0', 3.903982542172565),
 ('bedrooms_6', 1.0774456474447205),
 ('zipcode_98188', 1.0755888055016647),
 ('zipcode_98168', 1.174265806142177),
 ('bedrooms_5', 1.2341145583408362),
 ('bedrooms_9', 1.0166701794074369)]

## Cross Validation

In [175]:
linreg = LinearRegression()
cvs_10=cross_val_score(linreg, X, y, cv=10)
cvs_10_res_mean = round(np.mean(cvs_10),5)
cv_10_res_std = round(np.std(cvs_10),5)
print(f'Mean cross validation score for 10 fold is {cvs_10_res_mean}')
print(f'Standard deviation of the score is {cv_10_res_std}')

Mean cross validation score for 10 fold is 0.88227
Standard deviation of the score is 0.00346

##  Location! Location! Location!

In [176]:
income_df=pd.read_csv('kc_house_data.csv')

In [177]:
from uszipcode import SearchEngine, Zipcode
fdfdrerrerererreeeerereere4y444w444444rryyydyhdyddt7e9[djci9dxxxzxc8phc8ccp                    hchhdhcjcjjjcjcjcjcjcjc           V]

SyntaxError: invalid syntax (<ipython-input-177-f0716acf6ba6>, line 2)

In [ ]:
search = SearchEngine(simple_zipcode=False)

In [ ]:
def zco(x):
    income = search.by_zipcode(x)
    
    return income.median_household_income if income else x

In [ ]:
income_df['income'] = income_df['zipcode'].astype(int).astype(str).apply(zco)

In [ ]:
income_df.head()

In [ ]:
# income_df=pd.read_csv('kc_house_data.csv')

In [ ]:
fig = plt.figure(figsize = (20,7))
fig = sns.boxplot(x='zipcode', y='price', data=income_df, showfliers = False)
plt.title('Prices of Houses Sold in King County by Zip Code')
plt.xlabel("Zip Code")
plt.xticks(rotation=90)
plt.ylabel('Sale Price, $')
plt.show()

https://www.zillow.com/bellevue-wa-98004/

https://www.zillow.com/mercer-island-wa-98040/

https://www.zillow.com/medina-wa-98039/

https://www.zillow.com/seattle-wa-98112/

In [ ]:
high_price_zipcodes=[98040,98004,98039,98112]
for i in high_price_zipcodes:
    zipcode = search.by_zipcode(i)
    income=zipcode.median_household_income
    print('Zip code:',i ,'-------   Median household income of all the houses in this zipcode:' ,income)